@import url(http://fonts.googleapis.com/css?family=Open+Sans:700);

* {
    margin: 0;
    padding: 0;
}

body {
    width: 100%;
}


#cssmenu {
}

    #cssmenu ul {
        list-style: none;
        line-height: 1;
        zoom: 1;
    }

        #cssmenu ul li {
            display: inline-block;
        }

    #cssmenu.align-right ul li {
        float: left;
    }

    #cssmenu.align-center ul {
        text-align: right;
    }

    #cssmenu ul li a {
    }
