<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <meta name="description" content="Momencraft" />

    <link rel="icon" type="image/png" href="~/css/images/favicon@2x.png" sizes="32x32" />
    <link rel="icon" type="image/png" href="~/css/images/favicon.png" sizes="16x16" />
    <link href="~/css/mtop.css" rel="stylesheet" />

    <link href="~/css/component.css" rel="stylesheet" />
    <link href="~/css/default.css" rel="stylesheet" />
    <script src="~/js/modernizr.custom.js"></script>
    <title>@ViewBag.Title</title>
</head>
<body>
    @RenderBody()
    @RenderSection("momentBody", required: true)
</body>
</html>
