@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <meta name="description" content="Momencraft" />
    <title>Momencraft</title>
</head>
<body>
    <center>
        <img src="~/new/new-m-top.png" />
        <img src="~/new/momentic-main.jpg" />
    </center>
</body>
</html>
