@{
    ViewBag.Title = "Momenpic";
    Layout = "~/Views/Shared/_LayoutMobile.cshtml";
}

@section momentHeader{
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/flickity/1.0.0/flickity.min.css">
    <script src="//cdnjs.cloudflare.com/ajax/libs/flickity/1.0.0/flickity.pkgd.min.js"></script>
}


@section momentBody{
    <div class="nav">
        <ul>
            <li>
                <a href="@Url.Action("momentic", "m")">
                    <span>
                        <img src="~/css/images/mobile-menu/1.jpg" />
                    </span>
                </a>
            </li>
            <li>
                <a href="@Url.Action("momenpic", "m")">
                    <span>
                        <img src="~/css/images/mobile-menu/2.jpg" />
                    </span>
                </a>
            </li>
            <li class='last'>
                <a href="@Url.Action("home", "m")">
                    <span>
                        <img src="~/css/images/mobile-menu/3.jpg" />
                    </span>
                </a>
            </li>
        </ul>
    </div>
}