#animate {
    position: relative;
    z-index: -1;
    max-width: 100%;
    max-height: 100%;
    top: -188px;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
}
