* {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

body {
}

@media screen and (min-width : 1140px) {
    #primary {
        margin-left: 25%;
        width: 40%;
    }

    #secondary {
        float: left;
        margin: 0 0 0 -75%;
        width: 20%;
        clear: none;
    }

    #tertiary {
        float: right;
        width: 40%;
        clear: none;
    }
}

.momenticss {
    left: 0;
    height: 100%;
    width: 100%;
    max-height: 780px;
}

@media only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (-o-min-device-pixel-ratio: 3/2), only screen and (min--moz-device-pixel-ratio: 1.5), only screen and (min-device-pixel-ratio: 1.5) {
    .momenticss {
        max-height: 1560px;
    }
}
