@{
    ViewBag.Title = "Momenpic";
    Layout = "~/Views/Shared/_LayoutMomencraft.cshtml";
}
<!DOCTYPE html>
<html>
<head>
    <meta name="description" content="Momenpic" />
    <link href="~/css/mtop.css" rel="stylesheet" />
</head>
<body>
    @section momentBody{
    <img src="~/css/images/momenpic-s1.jpg" style='width: 100%; height:100%;' />
        <script src="~/js/retina.js"></script>
    }

</body>
</html>
