@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Momencraft</title>
    <meta name="description" content="Momencraft" />

    <link rel="icon" type="image/png" href="~/css/images/favicon@2x.png" sizes="32x32" />
    <link rel="icon" type="image/png" href="~/css/images/favicon.png" sizes="16x16" />
    <link href="~/css/mtop.css" rel="stylesheet" />

    <link href="~/css/component.css" rel="stylesheet" />
    <link href="~/css/default.css" rel="stylesheet" />
    <script src="~/js/modernizr.custom.js"></script>
</head>
<body>
    <div class="icons-wrapper">
        <a href="http://www.momencraft.com" class="icon logo">logo</a>
        <a href="http://www.yahoo.com" class="icon microphone">microphone</a>
        <div class="icon vline1"></div>
        <a href="http://www.hotmail.com" class="icon location">location</a>
        <div class="icon vline2"></div>
        <a href="http://www.google.com" class="icon group">group</a>
    </div>

    <div id="cbp-fwslider" class="cbp-fwslider">
        <ul>
            <li><img src="/css/images/m-charger.jpg" style='width: 100%; height:100%;' /></li>
        </ul>
    </div>

    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>

    <script src="~/js/jquery.cbpFWSlider.min.js"></script>

    <script>
        $(function () {
            /*
            - how to call the plugin:
            $( selector ).cbpFWSlider( [options] );
            - options:
            {
                // default transition speed (ms)
                speed : 500,
                // default transition easing
                easing : 'ease'
            }
            - destroy:
            $( selector ).cbpFWSlider( 'destroy' );
            */

            $('#cbp-fwslider').cbpFWSlider();

        });
    </script>
    <script src="~/js/retina.js"></script>
</body>
</html>
