@{
    ViewBag.Title = "Momencraft";
    Layout = "~/Views/Shared/_LayoutMobile.cshtml";
}

@section momentHeader{

    <link href="~/css/images/mobile-menu/mtopMobile.css" rel="stylesheet" />
    <script src="~/css/images/mobile-menu/swiper.js"></script>
    <link href="~/css/images/mobile-menu/swiper.css" rel="stylesheet" />
    <style>
        .swiper-container {
        }

        .swiper-slide {
            text-align: center;
            font-size: 18px;
            background: #fff;
            /* Center slide text vertically */
            display: -webkit-box;
            display: -ms-flexbox;
            display: -webkit-flex;
            display: flex;
            -webkit-box-pack: center;
            -ms-flex-pack: center;
            -webkit-justify-content: center;
            justify-content: center;
            -webkit-box-align: center;
            -ms-flex-align: center;
            -webkit-align-items: center;
            align-items: center;
        }
    </style>
}

@section momentBody{

    <!-- Swiper -->
    <div class="swiper-container">
        <div class="swiper-wrapper">
            <div class="swiper-slide"><img src="~/css/images/mobile-menu/moment-mobile-hero.jpg" /></div>
            <div class="swiper-slide"><img src="~/css/images/mobile-menu/moment-mobile-hero.jpg" /></div>
            <div class="swiper-slide"><img src="~/css/images/mobile-menu/moment-mobile-hero.jpg" /></div>
        </div>
        <!-- Add Pagination -->
        <div class="swiper-pagination"></div>
    </div>
    <!-- Initialize Swiper -->
    <script>
        var swiper = new Swiper('.swiper-container', {
            pagination: '.swiper-pagination',
            nextButton: '.swiper-button-next',
            prevButton: '.swiper-button-prev',
            slidesPerView: 1,
            paginationClickable: true,
            spaceBetween: 30,
            loop: true
        });
    </script>
}
