@{
    ViewBag.Title = "Momencraft";
    Layout = "~/Views/Shared/_LayoutMobile.cshtml";
}

@section momentHeader{

}

@section momentBody{
    <div class="nav">
        <ul>
            <li>
                <a href="@Url.Action("momentic", "mobile")">
                    <span>
                        <img src="~/css/images/mobile-menu/1.jpg" />
                    </span>
                </a>
            </li>
            <li>
                <a href="@Url.Action("momenpic", "mobile")">
                    <span>
                        <img src="~/css/images/mobile-menu/2.jpg" />
                    </span>
                </a>
            </li>
            <li class='last'>
                <a href="@Url.Action("home", "mobile")">
                    <span>
                        <img src="~/css/images/mobile-menu/3.jpg" />
                    </span>
                </a>
            </li>
        </ul>
    </div>
    <!-- Swiper -->
    <div class="swiper-container">
        <div class="swiper-wrapper">
            <div class="swiper-slide"><img src="~/css/images/mobile-menu/moment-mobile-hero.jpg" /></div>
            <div class="swiper-slide"><img src="~/css/images/mobile-menu/moment-mobile-hero.jpg" /></div>
            <div class="swiper-slide"><img src="~/css/images/mobile-menu/moment-mobile-hero.jpg" /></div>
        </div>
        <!-- Add Pagination -->
        <div class="swiper-pagination"></div>
    </div>
    <!-- Initialize Swiper -->
    <script>
        var swiper = new Swiper('.swiper-container', {
            pagination: '.swiper-pagination',
            nextButton: '.swiper-button-next',
            prevButton: '.swiper-button-prev',
            slidesPerView: 1,
            paginationClickable: true,
            spaceBetween: 30,
            loop: true
        });
    </script>
}
