@{
    ViewBag.Title = "Momenpic";
    Layout = "~/Views/Shared/_LayoutMobile.cshtml";
}

@section momentHeader{
}


@section momentBody{
    <ul id="logo">
        <li class="moment"><a href="@Url.Action("home", "mobile")">momencraft</a></li>
    </ul>
    <ul id="menu">
        <li class="momentic"><a href="@Url.Action("momentic", "mobile")">momentic</a></li>
        <li class="momenpic"><a class="selected" href="@Url.Action("momenpic", "mobile")">momenpic</a></li>
        <li class="momencraft"><a href="@Url.Action("home", "mobile")">momencraft</a></li>
    </ul>
}