@{
    ViewBag.Title = "Momentic";
    Layout = "~/Views/Shared/_LayoutMobile.cshtml";
}

<!DOCTYPE html>
<html>
<head>
    <meta name="description" content="Momentic" />
    <link href="~/css/mtop.css" rel="stylesheet" />
</head>
<body>
    @section momentBody{
        <video autoplay preload="auto" loop='loop' width='100%'>
            <source src="~/css/mobile.m4v" type="video/quicktime" />
        </video>
        <script src="~/js/retina.js"></script>
    }
</body>
</html>
